<div>
<h1>Public Recipes</h1>
<% @public_recipes.each do |public, index|%>
<%= link_to public.name, public_recipes_path(public), by: public[:user] %>
<div>
<p>Total food items: <%= public[:food_items]%></p>
<p>Total Price: <%=public%> </p>
</div>
<% end %>
</div>
